<!doctype html>
<html lang="en" data-ng-app="adsenseWidget">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow">
    <meta>
    <title>Google AdSense Widget</title>
    <style type="text/css">

        body{
            margin: auto;
        }
        body.blocked{
            margin: 0 !important;
        }
        {% if app.request.get('viewMode') != 'editor' and app.request.get('viewMode') != 'preview' %}
        body{
            width: {{ adUnit.width ? adUnit.width : 300 }}px;
            height: {{ adUnit.height ? adUnit.height : 250 }}px;
        }
        body.mobile {
            {% if adUnit.width == 300 %}
                width:280px !important;
                height:236px !important;
            {% elseif adUnit.width == 468 %}
                width: 280px !important;
                height: 36px !important;
            {% else %}
                width:60px !important;
                height:300px !important;
            {% endif %}
        }
        {% endif %}


        .comp_limit_container {
            position: absolute;
            background-color: rgba(255,255,255,0.92);
            width: 100%;
            height: 100%;
            z-index: 200000;
            text-align: left;
            color: #000;
            display: table;
        }

        .comp_limit_text {
            padding: 1em;
            display: table-cell;
            text-align: center;
            vertical-align: middle;
            font-size: 16px;
            font-family: Helvetica, arial, sans-serif;
            font-weight: normal;
            border:1px solid #ccc;
            line-height: 22px;
        }

        .comp_limit_text span {
            font-size: 13px;
        }

        .mobile .comp_limit_container {
            width: {{ mobile.regular.width + 2}}px;
            height: {{ mobile.regular.height + 2 }}px;
            left: 39px;
        }


        .mobile .comp_limit_text {
            padding: 8px;
            padding-bottom: 13px;
        }

        .mobile #adsense_container {
            width: 100%;
            height: 100%;
        }

        .mobile #liveSiteCode {
            {% if adUnit.width == 468 %}
                transform: scale(0.6);
                transform-origin: left top;
            {% elseif adUnit.width == 120 %}
                transform: scale(0.5);
                transform-origin: top left;
            {% else %}
                transform: scale(0.93);
                transform-origin: top left;
            {% endif %}
        }

        .showDemo {
            visibility: visible !important;
        }

        .live_site_empty{
            visibility: hidden;
        }
        .live_site_empty iframe{
            visibility: hidden;
        }
        .blocked #editorBlocked{
            visibility: visible !important;
        }
    </style>

    <!-- wix sdk -->
    <script type="text/javascript" src="//static.parastorage.com/services/js-sdk/1.75.0/js/wix.min.js"></script>
</head>
<body data-ng-controller="layoutCtrl">

    <!-- adsense advertisement -->
    <div style="text-align: center" id="adsense_container">
        <div id="liveSiteCode"></div>
        <div id="liveSiteDemo"></div>
        <div id="editorBlocked" style="visibility: hidden">
            <div class="comp_limit_container">
                <div class="comp_limit_text">Sorry, Google does not allow more than 3 ads per page, so we recommend that you delete it.
                    <br><br>
                    <span>Note: This message will not be visible in your site</span>
                </div>
            </div>
        </div>
        <div id="editorDemo" style="visibility: hidden">
            {% if app.request.get('viewMode') == 'editor' or app.request.get('viewMode') == 'preview' %}
                {% include 'WixGoogleAdsenseBundle:View:placeholder.html.twig' %}
            {% endif %}
        </div>
  </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <!-- fos js routing bundle -->
    <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

    {% if code is not defined %}
        <!-- scripts -->
        {% javascripts
        '@WixGoogleAdsenseBundle/Resources/public/lib/jquery/jquery.js'
        '@WixGoogleAdsenseBundle/Resources/public/js/responsive.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endif %}

    {% block javascripts %}
        {% javascripts filter='?yui_js'
        '@WixGoogleAdsenseBundle/Resources/public/lib/angular/angular.min.js'
        '@WixGoogleAdsenseBundle/Resources/public/lib/angular/angular-sanitize.min.js'
        '@WixGoogleAdsenseBundle/Resources/public/js/widget/app.js'
        '@WixGoogleAdsenseBundle/Resources/public/js/widget/wixService.js'
        '@WixGoogleAdsenseBundle/Resources/public/js/widget/layoutCtrl.js'%}
        <script type="text/javascript" src="{{ asset_url }}"></script>


        {% endjavascripts %}

        <script type="text/javascript">
            {% if code is not defined %}
                window.code = false;
            {% else %}
                window.code = true;
            {% endif %}
        </script>
    {% endblock %}

    <script type="text/javascript">
        window.onload = function() {
            Wix.Performance.applicationLoaded();
        };
    </script>

</body>
</html>
