<!doctype html>
<html lang="en" data-ng-app="adsenseWidget">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow">
    <meta>
    <title>Google AdSense Widget</title>
    {% if reachedCompLimit %}
    <style type="text/css">
        body {
            margin: 0 !important;
        }

        .comp_limit_container {
            position: absolute;
            background-color: rgba(255,255,255,0.92);
            width: 100%;
            height: 100%;
            z-index: 200000;
            text-align: left;
            color: #000;
            display: table;
        }

        .comp_limit_text {
            padding: 1em;
            display: table-cell;
            text-align: center;
            vertical-align: middle;
            font-size: 16px;
            font-family: Helvetica, arial, sans-serif;
            font-weight: normal;
            border:1px solid #ccc;
            line-height: 22px;
        }

        .comp_limit_text span {
            font-size: 13px;
        }
    </style>
    {% endif %}
</head>
<body>

    <!-- adsense advertisement -->
    <div style="text-align: center" id="container">
        {#{% if component_deleted is not defined %}#}
            {#{% if app.request.get('viewMode') != 'editor' and app.request.get('viewMode') != 'preview' %}#}
                {#{% if reachedCompLimit == true %}#}
                    {#<div class="empty"></div>#}
                {#{% else %}#}
                    {#{% if code is defined  %}#}
                        {#{% include 'WixGoogleAdsenseBundle:View:ad.html.twig' %}#}
                    {#{% else %}#}
                        {#{% include 'WixGoogleAdsenseBundle:View:demo.html.twig' %}#}
                    {#{% endif %}#}
                {#{% endif %}#}
            {#{% else %}#}
                {#{% if reachedCompLimit %}#}
                    {#<div class="comp_limit_container">#}
                        {#<div class="comp_limit_text">#}
                            {#Sorry, Google does not allow more than 3 ads per page, so we recommend that you delete it.<br><br>#}
                            {#<span>Note: This message will not be visible in your site</span>#}
                        {#</div>#}
                    {#</div>#}
                {#{% endif %}#}
                {#{% include 'WixGoogleAdsenseBundle:View:placeholder.html.twig' %}#}
            {#{% endif %}#}
<div> {{ '{{ countWorker }}' }}</div>

        {#{% endif %}#}
        <div data-ng-show="$root.liveSiteEmpty"><div class="empty"></div></div>
        <div id="liveSiteCode"></div>
        <div id="liveSiteDemo"></div>
        <div id="editorBlocked"></div>
        <div id="editorDemo"></div>
  </div>

    <!-- wix sdk -->
    <script type="text/javascript" src="//static.parastorage.com/services/js-sdk/1.61.0/js/wix.min.js"></script>
    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-47138354-1', 'wix.com');
        ga('send', 'pageview');

    </script>
    <script src="//code.jquery.com/jquery-1.10.1.min.js"></script>

    <!-- fos js routing bundle -->
    <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

    {% if code is not defined %}
        <!-- scripts -->
        {% javascripts
        '@WixGoogleAdsenseBundle/Resources/public/lib/jquery/jquery.js'
        '@WixGoogleAdsenseBundle/Resources/public/js/responsive.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endif %}

    {% block javascripts %}
        {% javascripts filter='?yui_js'
        '@WixGoogleAdsenseBundle/Resources/public/lib/angular/angular.min.js'
        '@WixGoogleAdsenseBundle/Resources/public/lib/angular/angular-sanitize.min.js'
        '@WixGoogleAdsenseBundle/Resources/public/js/widget/app.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>


        {% endjavascripts %}

        <script type="text/javascript">
            var component_deleted        = '{{ component_deleted }}';
            window.component_deleted     = component_deleted ? true : false;
            var code                     = '{{ code }}';
            window.code                  = code ? true : false;

        </script>
    {% endblock %}

</body>
</html>
