<!doctype html>
<html lang="en" data-ng-app="AdsenseApp">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow">
    <title>Google AdSense Settings</title>

    {# stylesheets #}
    {% block stylesheets %}
        {% stylesheets filter='cssrewrite, ?yui_css'
        '@WixGoogleAdsenseBundle/Resources/public/lib/bootstrap/css/bootstrap.css'
        '@WixGoogleAdsenseBundle/Resources/public/lib/color-picker/color-picker.css'
        '@WixGoogleAdsenseBundle/Resources/public/lib/chosen/chosen.css'
        '@WixGoogleAdsenseBundle/Resources/public/css/emphasize.css'
        '@WixGoogleAdsenseBundle/Resources/public/css/master.css'
        '@WixGoogleAdsenseBundle/Resources/public/css/settings.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
</head>
<body>
<style>
    #block_settings{
        position: absolute;
        background-color: rgba(255,255,255,0.92);
        width: 100%;
        height: 100%;
        z-index: 200000;
        text-align: left;
        padding-top: 200px;
        color: #000;
        visibility: hidden;
    }
    .blocked{
        visibility: visible !important;
    }
</style>
{% block body %}
    <div id="block_settings">
        <div style="margin:1em; margin-top: 3em; text-align: center; font-size: 18px; font-weight: normal;">
            Sorry, Google does not allow more than 3 ads per page, so we recommend that you delete it.<br /><br />
        </div>
    </div>
    <div data-ng-view></div>
{% endblock %}

{# scritps #}
{% block javascripts %}
    <script type="text/javascript" src="//static.parastorage.com/services/js-sdk/1.61.0/js/wix.min.js"></script>

    <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

    {% javascripts
    '@WixGoogleAdsenseBundle/Resources/public/lib/jquery/jquery.min.js'
    '@WixGoogleAdsenseBundle/Resources/public/lib/bootstrap/js/bootstrap.min.js'
    '@WixGoogleAdsenseBundle/Resources/public/lib/color-picker/color-pickers/simple.js'
    '@WixGoogleAdsenseBundle/Resources/public/lib/color-picker/color-pickers/advanced.js'
    '@WixGoogleAdsenseBundle/Resources/public/lib/color-picker/color-picker.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% javascripts filter='?yui_js'
    '@WixGoogleAdsenseBundle/Resources/public/lib/jquery-ui/js/jquery-ui.js'
    '@WixGoogleAdsenseBundle/Resources/public/lib/chosen/chosen.jquery.js'
    '@WixGoogleAdsenseBundle/Resources/public/lib/angular/angular.min.js'
    '@WixGoogleAdsenseBundle/Resources/public/js/jquery-ui.js'
    '@WixGoogleAdsenseBundle/Resources/public/js/app.js'
    '@WixGoogleAdsenseBundle/Resources/public/js/services.js'
    '@WixGoogleAdsenseBundle/Resources/public/js/filters.js'
    '@WixGoogleAdsenseBundle/Resources/public/js/directives.js'
    '@WixGoogleAdsenseBundle/Resources/public/js/ajax-events.js'
    '@WixGoogleAdsenseBundle/Resources/public/js/controllers/settings.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
</body>
</html>
